
<div  class="ui-calendar">
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources">

    </div>
</div>


<style>
    .ui-calendar .fc-toolbar {
        background-color: #471074;
        color: white;
        margin: 0;
    }

    .ui-calendar .fc-toolbar .fc-button {
        color: #fff;
        box-shadow: none;
        text-shadow: none;
        background: 0 0;
        border: none;
        margin: 0;
        height: 50px;
        line-height: 28px;
        padding: 10px;
    }

    .ui-calendar .fc-view .fc-widget-header {
        border-color: #e3eaef;
        font-weight: 300;
    }

    .ui-calendar .fc-view .fc-day-header {
        padding: 4px;
    }

    .ui-calendar .fc-view .fc-event {
        padding: 4px 8px;
        box-shadow: 0 1px 0 rgba(0,0,0,.05);
    }
</style>