<div layout-padding layout="row" layout-align="center center">
        <div>
            <h1 layout="column">Change your password</h1>
            <div layout="column" md-theme="navbar">
                <form name="Form">
                    <md-input-container class="md-block">
                        <label>New password</label>
                        <input type="password" md-maxlength="50" ng-minlength="7" name="newPassword" required ng-model="newPassword">
                        <div ng-messages="Form.newPassword.$error" role="alert" multiple="">
                            <div ng-message="required">Required.</div>
                            <div ng-message="minlength">Too short.</div>
                        </div>
                    </md-input-container>
                    
                    <md-input-container class="md-block">
                        <label>Confirm new password</label>
                        <input type="password" md-maxlength="50" ng-minlength="7" name="newPasswordConfirm" required ng-model="confirmPassword" pw-check="{{newPassword}}">
                        <div ng-messages="Form.newPasswordConfirm.$error" role="alert" multiple="">
                            <div ng-message="noMatch">Passwords do not match.</div>
                            <div ng-message="required">Required.</div>
                        </div>
                    </md-input-container>
                </form>
                <md-button  ng-disabled="!Form.$valid" class="md-raised md-primary" ng-click="changePass(email)">Change password</md-button>
            </div> 
        </div>  
    </div>