<div layout-padding layout="row" layout-align="center center">
    <div>
        <h1 layout="column">Forgot your password?</h1>
        <div layout="column" md-theme="navbar">
            <form name="Form">
                <md-input-container class="md-block">
                    <label for="email">Email</label>
                    <md-icon class="material-icons" style="top:4px!important"><ng-md-icon icon="email" ></ng-md-icon></md-icon>
                    <input type="email" name="email" ng-model="email" placeholder="Email" required/>
                    <div ng-messages="Form.email.$error" role="alert" multiple="">
                        <div ng-message="required">Required.</div>
                        <div ng-message="email">Please insert a valid email address.</div>
                    </div>
                </md-input-container>
            </form>
            <md-button  ng-disabled="!Form.$valid" class="md-raised md-primary" ng-click="sendEmail(email)">Send</md-button>
        </div> 
    </div>  
</div>