<div class="parallax" ng-style="{'background-image':'url('+backgroundImage+')', 'background-size':'cover', 'background-position':'inherit', 'height': '100%'}">
    <div class="dark-background">
        <h1>Tv Tracker</h1>
    </div>
    <div layout="row" layout-xs="column" layout-sm="column"  layout-padding>
        <div layout="column"  flex="33" flex-xs="50" flex-sm="50">
            <md-card flex="flex" md-whiteframe="3" layout-align="center center" style="text-align: center" layout-padding>
                <ng-md-icon icon="date_range" size="64"></ng-md-icon>
                <md-card-title>
                    <md-card-title-text>
                    <span class="md-headline">NEVER MISS AN EPISODE</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>You cannot remember when your next episodes are going to be aired? TvTracker will help you!</p>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33" flex-xs="50" flex-sm="50">
            <md-card flex="flex" layout-align="center center" style="text-align: center" layout-padding>
                <ng-md-icon icon="playlist_add_check" size="64"></ng-md-icon>
                <md-card-title>
                    <md-card-title-text>
                    <span class="md-headline">KEEP TRACK</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Can't remember what are the last episodes you've watched? TvTracker helps you to track your episodes by checking them.</p>
                </md-card-content> 
            </md-card>
        </div>
        <div layout="column" flex="33" flex-xs="50" flex-sm="50" >
            <md-card flex="flex" layout-align="center center" style="text-align: center" layout-padding>
                <ng-md-icon icon="add_to_queue"  size="64"></ng-md-icon>
                <md-card-title>
                    <md-card-title-text>
                    <span class="md-headline">FOLLOW YOUR FAVORITE SHOWS</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content
                    <p>Add and follow your favorite shows, and then manage them under your own personal calendar.</p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>

<style>
    .dark-background {
        height: 100%;
        background-color: rgba(0,0,0,.61);
    }

    .parallax {
        /*Parallax effect*/
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>