<div layout="column">
    <div class="parallax" ng-style="{'background-image':'url('+backgroundImage+')', 'background-size':'cover', 'background-position':'center center', 'background-attachment':'fixed', 'background-repeat':'no-repeat no-repeat', 'height': '90vh', 'display': 'inline-block'}">
        <div class="dark-background">
            <!-- TODO: flex-offset responsive -->
            <div layout="row" layout-xs="column" layout-sm="column" layout-md="column" flex-offset-xs="" flex-offset-gt-xs="" flex-offset-sm="5" flex-offset-gt-sm="10" flex-offset-md="15" flex-offset-lg="25" flex-offset-gt-lg="25"> 
                <img src="/public/images/banner.png" layout-xs="column" layout-sm="column" layout-md="column"  class="responsive" style="max-width: 820px; width:auto; height:360px; margin-top:25%" layout-align="center center"/>
                <span flex></span>
            
                <div ng-show="loggedIn" hide-gt-md layout-fill layout-xs="column" layout-sm="column" layout-md="column" flex-offset-xs="" flex-offset-gt-xs="" flex-offset-sm="5" flex-offset-gt-sm="10" flex-offset-md="15" style="color:white!important; text-align:center;">
                    <h2>Watched</h2>
                    <p><strong>12</strong></p>
                    <h2>Unwatched</h2>
                    <p><strong>32</strong></p>
                </div>
            </div>

            <div ng-show="loggedIn" class="watched" hide-sm hide-xs hide-md flex-offset-lg="25" flex-offset-gt-lg="25" style="color:white!important; margin-top:45%; margin-left:-41%; text-align:center;">
                <h2>Watched</h2>
                <h2>12</h2>
            </div>
            &nbsp;
            &nbsp;
            <div ng-show="loggedIn" class="unwatched" hide-sm hide-xs hide-md flex-offset-lg="25" flex-offset-gt-lg="25" style="color:white!important; margin-top:45%; text-align:center;">
                <h2>Unwatched</h2>
                <h2>45</h2>
            </div>
        </div>
    </div>
    <div layout="row" layout-xs="column" layout-sm="column" layout-padding>
        <div layout="column" flex="33" flex-xs="50" flex-sm="50">
            <md-card flex="flex" layout-align="center center" style="text-align: center" layout-padding>
                <ng-md-icon icon="playlist_add_check" size="64"></ng-md-icon>
                <md-card-title>
                    <md-card-title-text>
                    <span class="md-headline">KEEP TRACK</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Can't remember what are the last episodes you've watched? TvTracker helps you to track your episodes by checking them.</p>
                </md-card-content> 
            </md-card>
        </div>
        <div layout="column" flex="33" flex-xs="50" flex-sm="50">
            <md-card flex="flex" md-whiteframe="3" layout-align="center center" style="text-align: center" layout-padding>
                <ng-md-icon icon="date_range" size="64"></ng-md-icon>
                <md-card-title>
                    <md-card-title-text>
                    <span class="md-headline">NEVER MISS AN EPISODE</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>You cannot remember when your next episodes are going to be aired? TvTracker will help you!</p>
                </md-card-content>
            </md-card>
        </div>
        <div layout="column" flex="33" flex-xs="50" flex-sm="50" >
            <md-card flex="flex" layout-align="center center" style="text-align: center" layout-padding>
                <ng-md-icon icon="add_to_queue"  size="64"></ng-md-icon>
                <md-card-title>
                    <md-card-title-text>
                    <span class="md-headline">FOLLOW YOUR FAVORITE SHOWS</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Add and follow your favorite shows, and then manage them under your own personal calendar.</p>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div layout="row" md-colors="{background: 'navbar-primary-800'}" layout-align="center center">
        <h1 style="text-align:center;">Here you can find all the TV Shows you like ... </h1>
    </div>
    <div layout="row" md-colors="{background: 'navbar-primary-800'}" layout-align="center center" layout-xs="column" layout-wrap layout-padding>        
        <div layout="column" ng-repeat="item in popularSeries | limitTo : 6" layout-padding>
            <a ng-href="#/show/{{item.id}}">
                <img style="width:150px;" ng-src="https://image.tmdb.org/t/p/original{{item.poster_path}}">
            </a>            
        </div>
    </div>
</div>


<style>
    .dark-background {
        height: 100%;
        display: flex;
        background-color: rgba(0,0,0,.61);
    }

    @media only screen and (max-width: 600px) {
        .responsive {
            width: 100% !important; 
            height: 260px !important;
            margin-top:25% !important;
        }
    }

    @media only screen and (min-width: 600px) and  (max-width: 900px) {
        .responsive {
            width: 100% !important; 
            height: 360px !important;
            margin-top:15% !important;
        }
    }

    @media only screen and (min-width: 960px) {
        .parallax {
            height: 100vh !important;
        }
    }

    @media only screen and (min-width: 1280px) and  (max-width: 1500px) {
        .watched {
            margin-top:50%!important;
            margin-left:-53%!important;
        }
        .unwatched {
            margin-top:50%!important;
        }
    }

    @media only screen and (min-width: 1500px) and  (max-width: 1960px) {
        .watched {
            margin-top:44%!important;
            margin-left:-41%!important;
        }
        .unwatched {
            margin-top:44%!important;
        }
    }

    @media only screen and (min-width: 1960px) and  (max-width: 2400px) {
        .watched {
            margin-top:35%!important;
            margin-left:-30%!important;
        }
        .unwatched {
            margin-top:35%!important;
        }
    }

    @media only screen and (min-width: 2400px) {
        .watched {
            margin-top:30%!important;
            margin-left:-20%!important;
        }
        .unwatched {
            margin-top:30%!important;
        }
    }


</style>
