<div layout-padding>
    <h4>You have watched {{totalEpisodesWatched}} out of {{totalEpisodes}} episodes.</h4>
    <md-progress-linear md-heigth="200" md-mode="determinate" value="{{progress}}"></md-progress-linear>
    <h4>You have spent x watching TV shows.</h4>

    <table layout-padding layout-align="center center" layout="row">
        <tr>
            <th></th>
            <th>Show</th>
            <th>Last Episode</th>
            <th>Next Episode</th>
            <th>Unfollow</th>
        </tr>
        <tr ng-repeat="show in myShows" layout-padding>
            <td><img ng-src='{{ show[0][7] ? "https://image.tmdb.org/t/p/original" + show[0][7] : "public/images/eye.png"}}' class="md-avatar face" style="width: 60px; height: 60px;" alt="GOT"></td>
            <td>
                <span><md-icon  class="tealCol">{{ show[0][6] == 0 ? "done" : "remove_red_eye"}}</md-icon></span> &nbsp;
                <a ng-href="#/show/{{show[0][1]}}">{{show[0][0] ? show[0][0] : "-" }}</a>
                <br/>
                <span class="tealCol">{{show[0][6]}} unwatched episodes</span>
            </td>
            <td> s{{ show[0][3] }}e{{ show[0][4] }} - {{show[0][2] ? show[0][2] : "-" }}</td>
            <td> {{ show[1][3] ? "s" + show[1][3] : "" }}{{ show[1][4] ? "e" + show[1][4] + "-" : "" }}  {{show[1][2] ? show[1][2] : "-" }}</td>
            <td>
                <md-checkbox md-checked="{{unfollowed}}" ng-click="unfollowShow(show[0][1], $event)" aria-label="Unfollow show"></md-checkbox>
            </td>
        </tr>
    </table>

</div>

<style>
    .face {
        border-radius: 30px;
        border: 1px solid #ddd;
        width: 48px;
        margin: 16px;
    }
    md-progress-linear .md-container {
        height: 25px !important;
    }
    md-progress-linear .md-container .md-bar {
        height: 25px !important;
    }
    a {
        text-decoration: none;
        color: teal;
    }
</style>