<div ng-if="!hasShows" layout-padding ng-cloak>
    <h1>You are not following any show!</h1>
</div>

<div layout-padding layout"column" ng-if="hasShows" ng-cloak>
    <h4>You have watched {{totalEpisodesWatched}} out of {{totalEpisodes}} episodes.</h4>
    <md-progress-linear md-height="200" md-mode="determinate" value="{{progress}}"></md-progress-linear>
    <br/>
    <h2 layout="row" layout-align="center center" style="margin-bottom:0px">Current TV Shows</h2>
    <table layout-padding layout-align="center center" layout="row" cellpadding="0" cellspacing="0">
        <tr>
            <th width="10%" hide-xs></th>
            <th width="30%">Show</th>
            <th width="30%" hide-xs>Last Episode</th>
            <th width="30%" hide-xs>Next Episode</th>
            <th width="10%" hide-gt-xs>Info</th>
            <th width="10%" hide-xs>Unfollow</th>
            <th width="10%" hide-gt-xs>Unfollow</th>
        </tr>
        <!-- TODO: SORT HEADERS & SEND JSON FROM SERVER -->
         <tr ng-repeat="show in myShows">
            <td hide-xs>
                <img ng-src='{{ show[0][7] ? "https://image.tmdb.org/t/p/w92" + show[0][7] : "public/images/eye.png"}}' class="md-avatar face" style="width: 60px; height: 60px;" alt="GOT"></td>
            <td>
                <span><md-icon class="tealCol">{{ show[0][6] == 0 ? "done" : "remove_red_eye"}}</md-icon></span> &nbsp;
                <a ng-href="#/show/{{show[0][1]}}" class="text-resp">{{show[0][0] ? show[0][0] : "-" }}</a>
                <br/>
                <span class="pinkCol text-resp-unwatched">{{show[0][6]}} unwatched episodes</span>
            </td>
            <td hide-xs> 
                <strong> s{{ show[0][3] }}e{{ show[0][4] }} - {{show[0][2] ? show[0][2] : "-" }} </strong>
                <em class="airDate">{{show[0][5] | date : 'dd MMM yyyy'}}</em>
            </td>
            <td hide-xs>  
                <strong> {{ show[1][3] ? "s" + show[1][3] : "" }}{{ show[1][4] ? "e" + show[1][4] + "-" : "" }}  {{show[1][2] ? show[1][2] : "-" }} </strong>
                <em class="airDate">{{show[1][5] | date : 'dd MMM yyyy'}}</em>
            </td>
            <td hide-gt-xs>
                <md-button md-theme="navbar" ng-click="showInfo(show, $event)" class="md-fab md-mini md-primary"><md-icon>info</md-icon></md-button> 
            </td>
            <td hide-xs>
                <md-button md-theme="navbar" ng-click="unfollowShow(show[0][1], $event)" class="md-fab md-mini md-primary"><md-icon size="28">clear</md-icon></md-button> 
            </td>
            <td hide-gt-xs>
                <md-button md-theme="navbar" ng-click="unfollowShow(show[0][1], $event)" class="md-fab md-mini md-primary"><md-icon>clear</md-icon></md-button> 
            </td>
        </tr>
    </table>

</div>

<style>
    .face {
        border-radius: 30px;
        border: 1px solid #ddd;
        width: 48px;
        margin: 16px;
    }
    md-progress-linear {
        width: 99%!important;
    }
    md-progress-linear .md-container {
        height: 25px !important;
        background-color: #c89eb68f;
    }
    md-progress-linear .md-container .md-bar {
        height: 25px !important;
    }
    md-progress-linear .md-bar {
        background-color :#c89eb6 !important;
    }
    a {
        text-decoration: none;
        color: rgb(15, 170, 170);
    }
    th {
        vertical-align: bottom;
        background-color: #c89eb6; /* #f98f45; /* sau #c4421a*/
        text-align: left;
        padding: 7px 12px;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
        line-height: 16px;
    }   
    .airDate {
        color: #999;
        font-size: 11px;
        font-style: normal;
        display: block;
        margin: 3px 0 0 0;
    }
    .pinkCol {
        color:#c89eb6;
    }    
    md-toast .md-toast-content{
        max-height: 183px !important;
        min-height: fit-content !important;
    }
    .md-toast-text {
        padding: 8px 0px !important;
    }
    @media only screen and (max-width: 600px) {
        .text-resp{
            font-size: 14px !important;
            line-height: 14px !important; 
        }
        .text-resp-unwatched{
            font-size: 12px !important;
            line-height: 14px !important; 
        }
    }
</style>