<div layout-padding>
    <div>
        <h1>Account</h1>
        <div layout="column" layout-flex md-theme="navbar" flex-xs="100" flex-sm="60" flex-md="35" flex-lg="30" flex-gt-lg="30">
            <form name="Form">     
                <md-input-container class="md-block">
                    <label>New password</label>
                    <input type="password" md-maxlength="50" ng-minlength="7" name="newPassword" required ng-model="newPassword">
                    <div ng-messages="Form.newPassword.$error" role="alert" multiple="">
                        <div ng-message="required">Required.</div>
                        <div ng-message="minlength">Too short.</div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Confirm new password</label>
                    <input type="password" md-maxlength="50" ng-minlength="7" name="newPasswordConfirm" required ng-model="confirmPassword" pw-check="{{newPassword}}">
                    <div ng-messages="Form.newPasswordConfirm.$error" role="alert" multiple="">
                        <div ng-message="noMatch">Passwords do not match.</div>
                        <div ng-message="required">Required.</div>
                    </div>
                </md-input-container>
            </form>
            <md-button  ng-disabled="!Form.$valid" class="md-raised md-primary" ng-click="changePass(newPassword)">Change password</md-button>
        </div>
    </div>
    <md-divider></md-divider>

    <div layout="column">
        <h1>Avoid spoilers</h1>
        
        <p>Hide episode overviews</p>
        <md-switch ng-model="avoidSpoilers" ng-change="onChange(avoidSpoilers)" aria-label="Avoid spoilers">
            Avoid spoilers
        </md-switch>
    </div>
    
    <md-divider></md-divider>

    <div layout="column"  layout-flex flex-xs="100" md-theme="navbar" flex-sm="60" flex-md="35" flex-lg="30" flex-gt-lg="30">
        <h1>Choose your language</h1>
        <md-select ng-model="language" placeholder="English" md-selected-text="getSelectedLanguage()">
            <md-option value="English"><em>English</em></md-option>
            <md-option value="Francais"><em>Français</em></md-option>
            <md-option value="Romana"><em>Română</em></md-option>
        </md-select>
        <md-button class="md-raised md-primary" md-theme="navbar" ng-click="saveLanguage()">Save</md-button>
    </div>
</div>

<style>
    .md-toast.success {
        background-color: green;
    }
    md-select-menu.md-navbar-theme md-content {
        background-color: white!important;
    }
</style>
