<style>
    .show .poster-image{
        text-align: center;
    }
    .poster-image{
        width:100%;
        display: table;
        background-size: cover;
        background-repeat: no-repeat;
        height: 450px;
    }

    .poster-image h1 {
        font-size: 3.5em;
        color: #fff;
        display: table-cell;
        vertical-align: middle;
        text-shadow: 0 0 20px #000;
        font-weight: 700;
        line-height: 1.1;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
</style>
<div class="show" ng-app="tvTracker">
    <div class="poster-image" ng-style="{'background-image': 'url(' + urlImage + ')'}">
        <h1>
            {{showName}}
            <br/>
            ({{releaseYear | date:'yyyy'}})
            <br/>
        <md-button ng-show="loggedIn" class="md-raised md-primary" md-colors="{background: 'navbar-primary-500'}" ng-click="followSeason(data.id)">
                <md-icon md-font-set="md">add</md-icon>
                <span class="inset" >Follow</span>
            </md-button>
        </h1>
    </div>
    <div layout="row" layout-sm="column" layout-xs="column" >
        <div class="poster" flex-offset="5" flex-offset-xs="0" layout="column" layout-align-xs="center center" layout-align-sm="center center">
            <img ng-src="{{posterPath}}">
        </div>
        <div layout-padding flex-offset="5">
            <h4>{{data.name}}</h4>
            <p style="text-align:justify" class="text-muted">{{data.overview}}</p>
        </div>
        <div layout-padding flex-offset="5" flex="25" flex-xs="33">
            <ul>
                <li>Network: <span class="text-muted">{{data.networks[0].name}}</span></li>
                <li>Country: <span class="text-muted">{{data.origin_country[0]}}</span></li>
                <li>Runtime: <span class="text-muted">{{data.episode_run_time[0]}}</span></li>
                <li>Status: <span class="text-muted">{{data.status}}</span></li>
            </ul>
        </div>
    </div>
    <div class="seasons" layout-padding>
        <ul layout="row">                
            <li ng-repeat="season in data.seasons | filter: displayPosterPath" layout-padding>
                <a href ng-click="selectSeason(season.season_number)">
                    <img ng-src="https://image.tmdb.org/t/p/original{{season.poster_path}}" ng-class="{'seasons_selected border': selected === season.season_number || (season === data.seasons[0] && selected == 0)}">
                </a>
            </li>
        </ul>
    </div>
    <div layout-padding>
        <h1 layout="row" layout-padding>{{seasonName}}</h1>
        <div layout="row" layout-padding>
            <div layout-padding layout-wrap layout="row">
                <md-card md-whiteframe="3" flex-xs flex-gt-xs="25" ng-repeat="episode in seasonData.episodes" layout-flex layout-padding>
                    <!-- TODO: add custom photo for still_path == null -->
                    <img ng-src='{{episode.still_path !== null ? "https://image.tmdb.org/t/p/original" + episode.still_path : "https://image.tmdb.org/t/p/original/85SWPq6UYPfAukLF6SXkTaRBC0O.jpg"}}' class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{(episode.season_number <= 9) ? "0" + episode.season_number : episode.season_number }}x{{(episode.episode_number <= 9) ? "0" + episode.episode_number : episode.episode_number}}</span>
                            <span>{{episode.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                    <p>
                        {{episode.air_date | date: 'EEEE, MMMM d, y'}}
                    </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <!-- <md-button class="md-icon-button" aria-label="Favorite">
                            <ng-md-icon icon="star"></ng-md-icon>
                        </md-button> -->
                        <md-button class="md-icon-button" aria-label="Settings" ng-click="checkEpisode(episode.id)">
                            <ng-md-icon icon="remove_red_eye"></ng-md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>

<style>
    ul {
        padding-left:0;
        list-style-type: none;
    }
    .poster img{
        width:150px;
        margin-top: -50px;
        border: 1px solid #222;
        border-radius: 6px;
        box-shadow: 0 0 20px #000;
    }
    .text-muted {
        color: #98a6ad;
    }

    .seasons ul li a img {
        width: 150px;
    }

    .seasons ul {
        display: inline-flex;
    }

    .seasons {
        background-color: #dde6e9;
        width: 100%;
        text-align: center;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .seasons_selected {
        border: 1px solid #00695C;
    }

    .border {
        border-width: 2px;
    }
</style>