

<style>
    .show .poster-image{
        text-align: center;
    }
    .poster-image{
        width:100%;
        display: table;
        background-size: cover;
        background-repeat: no-repeat;
        height: 450px;
    }

    .poster-image h1 {
        font-size: 3.5em;
        color: #fff;
        display: table-cell;
        vertical-align: middle;
        text-shadow: 0 0 20px #000;
        font-weight: 700;
        line-height: 1.1;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
</style>
<div class="show" ng-app="tvTracker">
    <div class="poster-image" ng-style="{'background-image': 'url(' + urlImage + ')'}">
        <h1>
            {{showName}}
            <br/>
            ({{releaseYear | date:'yyyy'}})
        </h1>
    </div>
</div>