<div layout="column" class="relative" layout-fill role="main">
    <div layout-padding layout="row" class="md-theme">
        <div layout-padding layout-wrap layout="row">
            <md-card md-whiteframe="3" ng-repeat="item in popularSeries" flex-sm="45" flex-gt-xs="30" style="align-items: stretch; max-height:fit-content !important" layout-flex layout-padding>
                <img ng-src="https://image.tmdb.org/t/p/original/{{item.backdrop_path}}" class="md-card-image" alt="{{item.name}}">
                <md-card-title md-whiteframe="3">
                    <md-card-title-text class="hover-info" layout-align="start center">
                        <a ng-href="#/show/{{item.id}}"><span class="md-headline">{{item.name}}</span></a>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout-padding flex layout-align="center center" style="text-align: center">
                    <div layout="row" layout-padding flex>
                        <div class="padded" md-whiteframe="3" flex="50" flex-sm="100" flex-gt-sm="100" flex-gt-md="100">								
                            <div>{{item.vote_count}}<br/>Followers</div>						 
                        </div> 
                        <div class="padded hover-info" md-whiteframe="3" flex="50" flex-sm="100" flex-gt-sm="100" flex-gt-md="100">
                            <a ng-href="#/show/{{item.id}}">
                                <ng-md-icon icon="more_horiz"></ng-md-icon> <br/>
                                <span flex>More Info</span>
                            </a>
                        </div>
                    </div>
                    <div layout="row" layout-padding flex>
                        <div class="padded" md-whiteframe="3" flex="50" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" >
                            <div>{{item.first_air_date | date:'yyyy'}}</br/>Year</div>
                        </div>
                        <div class="padded" md-whiteframe="3" flex="50" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" >
                            <div class="hover-info">
                                <a ng-href="{{loggedIn == true ? '#' : '#/login'}}" ng-show="!loggedIn">
                                <ng-md-icon icon="add"></ng-md-icon> <br/>
                                <span ng-show="!loggedIn">Login to follow</span>
                                </a>
                            </div>
                            <!-- if loggedin and Show not followed -->
                            <div class="hover-info">
                                <a ng-show="loggedIn && !isShowFollowed(item.id)" ng-click="followSeason(item.id)">
                                    <ng-md-icon icon="add"></ng-md-icon> <br/>
                                    <span ng-show="loggedIn">Follow</span>
                                </a>
                            </div>
                            <!-- if loggedin and Show followed -->
                            <div ng-show="loggedIn && isShowFollowed(item.id)">
                                <ng-md-icon icon="done"></ng-md-icon> <br/>
                                <span ng-show="loggedIn">Following</span>
                            </div> 
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>

<style>
    .hover-info {
        color: grey;
        fill:grey;
    }
    .hover-info a {
        text-decoration: none;
        color: grey;
        fill:grey;
        cursor: pointer;
    }

    .hover-info :hover {
        color: black;
        fill:black;
    }
</style>